/* 2x 

_________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1 ROOT
2 HEADINGS
3 TYPOGRAPHY
4 LINKS
5 FIGURES & IMAGES
6 TABLES
7 FORMS
8 BANNER
9 NAVIGATION
10 CONTENT
11 MAIN
12 COMPLEMENTARY
13 CONTENTINFO
14 GLOBAL OBJECTS
15 VENDOR-SPECIFIC 
16 MODERNIZR
17 TEMPLATE SPECIFICS

COLOURS 

*/

html, body {
	width: 320px;
}

body {
	font-size: 11px;
}

/* Wrapper elements */
/* Remove the content padding and set width */
#content_pad {
	margin: 0px;
	width: 320px;
}

/* Header */
.above_body {
	margin: 0px;
	border: none;
	width: 320px;
	height: auto;
	background-repeat: repeat-x;
}

#header {
	width: 320px;
	height: auto;
	background-image: none;
	padding: 0;
	padding-bottom: 10px;
}

.forumhead {
	border-left: none;
	border-right: none;
}

/* The header */

#logo {
	display: none;
}

#header #breadcrumb {
	margin: 0px;
	height: auto;
	padding: 7px 0 0 7px;
}

#navbarlinks {
	overflow: hidden;
	float: none;
	display: block;
	clear: both;
}

.navbarlink img {
	display: none;
}

.navbarlink {
	float: none;
	font-weight: bold;
	margin: 0;
	margin-right: 8px;
	display: inline-block;
}

.navbarlink:nth-child(1), .navbarlink:nth-child(2) {
	display: none;
}


/* HOMEPAGE */
/* forum home tables */
table.forums {
	max-width: 320px;
	width: 320px;
	margin: 0px !important;
}

.forumbit_post .foruminfo .forumdata .forumtitle, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle {
	font-size: 11px !important;
}

.foruminfo.L1 td:first-child {
	
}

table.forums .forumdescription, table.forums .viewing {
	display: none;
}

table.forums .forumbit_post {
	border-left: none;
	border-right: none;
}

table.forums .forumbit_post:last-child {
	border-bottom: none;
}

/* Subforums */
.subforum a.new {
	margin: 0px;
	padding: 0px;
	border: none;

	background: transparent;
}

/* Bottom of the forums */
.footer {
	margin-top: 0px;
	width: 320px;
}

.below_body {
	width: 320px;
}

center {
	max-width: 320px;
}