/* 2x - For iPhone retina */

html, body {
	width: 320px;
	min-width: 320px;
	max-width: 320px;
	overflow: hidden;
}

body {
	font-size: 11px;
}

a, a:hover {
	text-decoration: none !important;
}

/* Wrapper elements */
/* Remove the content padding and set width */
#content_pad {
	margin: 0px;
	width: 320px;
}

/* Header */
.above_body {
	margin: 0px;
	border: none;
	width: 320px;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,227,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,227,234,1) 100%); /* Chrome10+,Safari5.1+ */
}

#header {
	width: 320px;
	height: auto;
	background-image: none;
	padding: 4px 0 10px 0;
}

/* The header */
#logo {
	display: none;
}

#header #breadcrumb {
	margin: 0px;
	height: auto;
	padding: 5px 0 0 7px;
	margin-bottom: 10px;
}

#header #breadcrumb #lastelement {
	font-weight: bold;
	color: #333;
	text-shadow: none;
}

#navbar-login {
	font-size: 11px;
}

#navbarlinks {
	overflow: hidden;
	float: none;
	display: block;
	clear: both;
}

.navbarlink img {
	display: none;
}

.navbarlink {
	float: none;
	font-weight: bold;
	margin: 0;
	margin-right: 8px;
	display: inline-block;
}

.navbarlink:nth-child(1), .navbarlink:nth-child(2) {
	display: none;
}


/* HOMEPAGE */
/* forum home tables */
td.FrontPageForums {
	display: block;
}

table.forums {
	max-width: 320px;
	width: 320px;
	margin: 0px !important;
}

.above_body + table td.FrontPageForums:first-child table.forums:first-child tr.forumhead {
	border-top: 1px solid #4592D6;
}

table.forums tr:last-child {
	border-bottom: 1px solid #4592D6 !important;
}

.above_body + table td.FrontPageForums:last-child table.forums:last-child tr:not(.forumhead):last-child {
	border-bottom: 1px solid #3474AC !important;
}

table.forums tr.forumhead:last-child {
	border-bottom: 1px solid #376FC1 !important;
}

.forumbit_post .foruminfo .forumdata .forumtitle, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle {
	font-size: 11px !important;
}

table.forums .forumdescription, table.forums .viewing {
	display: none;
}

table.forums .forumbit_post {
	border-left: none;
	border-right: none;
}

table.forums .forumbit_post td.alt {
	background: #F3F7FC;
}

table.forums .LastPostAvatar {
	display: none;
}

table.forums p.lastposttitle {
	text-align: right;
}

.forumhead {
	border-top: none;
	border-left: none;
	border-right: none;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb2f1), color-stop(100%,#397bdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6bb2f1 0%,#397bdf 100%); /* Chrome10+,Safari5.1+ */
}

table.forums .forumhead h2 {
	font-size: 13px;
	text-shadow: 0px -1px 0px rgba(0,0,0,.3);
}

/* Subforums */
.subforum a.new {
	margin: 0px;
	padding: 0px;
	border: none;

	background: transparent;
}

/* Bottom of the forums */
div.below_body {
	padding: 7px 0 2px 0;
	background: #397bdf;
	width: 320px;
	margin: 0;
}

div.below_body * {
	color: white !important;
	font-size: 11px;
}

#footer_time {
	padding: 0;
}

#footer_copyright, #footer_morecopyright {
	display: none;
}

/* Footer */
div#footer {
	margin-top: 0px;
	width: 320px;
	font-size: 11px;
	background: #397bdf;
}

div#footer #content_pad {
	width: 300px;
	padding-bottom: 7px;
}

div#footer #fps {
	font-size: 13px;
	/* font */
}

div#content_pad > center {
	/* Hiding the footer stats, set display to block to make them show up */
	display: none;
	max-width: 300px;
	width: 300px !important;
	margin: 0 auto;
	margin-top: 10px;
}

div#content_pad > center > p:nth-child(1), div#content_pad > center > p:nth-child(2), div#content_pad > center > p:nth-child(3) {
	/* Hiding those really pesky p tags used for spacing - really, don't do that */
	display: none;
}