/* 2x - For iPhone retina */

html, body {
	width: auto !important;
	min-width: 0 !important;
	background: #ccc;
}

body {
	font-size: 11px;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif !important;
}

body * {
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif !important;
}

a, a:hover {
	text-decoration: none !important;
}

/* ############################################################################### 
 * Wrapper elements
 * ###############################################################################
 */

/* Remove the content padding and set width */
#content_pad {
	margin: 0px;
	width: 100%;
}

/* ############################################################################### 
 * Header 
 * ###############################################################################
 */
.above_body {
	margin: 0px;
	border: none;
	width: 100%;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,227,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,227,234,1) 100%); /* Chrome10+,Safari5.1+ */
}

#header {
	width: 100%;
	height: auto;
	background-image: none;
	padding: 4px 0 10px 0;
}

#logo {
	display: none;
}

#header #breadcrumb {
	margin: 0px;
	height: auto;
	padding: 5px 0 0 7px;
	margin-bottom: 10px;
	font-size: 11px;
}

#header #breadcrumb #lastelement {
	font-weight: bold;
	color: #333;
	text-shadow: none;
	padding-left: 11px;
}

#header #breadcrumb #lastelement > span a {
	display: none;
}

#navbar-login {
	font-size: 11px;
}

#navbar-login img {
	width: 12px;
	vertical-align: middle !important;
}

#navbarlinks {
	overflow: hidden;
	float: none;
	display: block;
	clear: both;
	margin-left: 8px;
}

.navbarlink img {
	display: none;
}

.navbarlink {
	float: none;
	font-weight: bold;
	margin: 0 8px 0 0 !important;
	display: inline-block;
}

.navbarlink:nth-child(1), .navbarlink:nth-child(2) {
	display: none;
}


/* ############################################################################### 
 * Forum home tables
 * ###############################################################################
 */
td.FrontPageForums {
	display: block;
}

table.forums {
	max-width: 100%;
	width: 100%;
	margin: 0px !important;
}

.above_body + table td.FrontPageForums:first-child table.forums:first-child tr.forumhead {
	border-top: 1px solid #4592D6;
}

table.forums tr:last-child {
	border-bottom: 1px solid #4592D6 !important;
}

.above_body + table td.FrontPageForums:last-child table.forums:last-child tr:not(.forumhead):last-child {
	border-bottom: none !important;
}

table.forums tr.forumhead:last-child {
	border-bottom: 1px solid #376FC1 !important;
}

.forumbit_post .foruminfo .forumdata .forumtitle a, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle a {
	font-size: 11px !important;
	padding: 1px 2px 2px 2px;
	border-radius: 3px;
	display: block;
}

.forumbit_post .foruminfo .forumdata .forumtitle a:hover, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle a:hover,
p.lastposttitle a:hover {
	background: #2F75BA;
	color: white;
}

.forumbit_post {
	min-height: 44px;
	height: 44px;
}

p.lastposttitle {
	margin-bottom: 2px;
}

p.lastposttitle a {
	padding: 2px 2px;
	border-radius: 3px;
}

table.forums .forumdescription, table.forums .viewing {
	display: none;
}

table.forums .forumdata .subforums {
	margin-top: 2px;
}

table.forums .forumdata .subforums ol {
	margin: 0 !important;
}

table.forums .forumdata .subforums ol li {
	display: list-item;
	list-style: square inside;
	color: #1A5691;
}

table.forums .forumdata .subforums a.new {
	line-height: 1.5em;
	font-size: 10px;
	font-weight: bold;
	color: #1A5691;
	padding: 1px 2px;
}

table.forums .forumdata .subforums a.new:hover {
	background: #2F75BA;
	color: white;
}

table.forums .forumbit_post {
	border-left: none;
	border-right: none;
}

td.alt {
	background: #F3F7FC;
}

table.forums .LastPostAvatar {
	display: none;
}

table.forums .forumlastpost.last_post_column {
	text-align: right;
	box-sizing: border-box;
}

table.forums p.lastposttitle {
	max-width: 95%;
	display: inline-block !important;
}

.forumbit_post .foruminfo .forumdata {
	max-width: 90%;
}

.forumhead {
	border-top: none;
	border-left: none;
	border-right: none;

	height: auto;
	min-height: 22px;
	height: 22px;

	box-sizing: border-box;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb2f1), color-stop(100%,#397bdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6bb2f1 0%,#397bdf 100%); /* Chrome10+,Safari5.1+ */
}

.forumhead td {
	padding: 0 8px;
	box-sizing: border-box;
}

table.forums .forumhead h2 {
	padding: 0;
	font-size: 11px;
	text-shadow: 0px -1px 0px rgba(0,0,0,.3);
	/*margin-left: 3px;*/
}

td.foruminfo {
	background-size: 20px;
	background-position: 8px center !important;
	padding-left: 26px !important;
}

/* ############################################################################### 
 * Subforums
 * ###############################################################################
 */
.subforum a.new {
	margin: 0px;
	padding: 0px;
	border: none;

	background: transparent;
}

/* ############################################################################### 
 * Thread listing page
 * ###############################################################################
 */
#above_threadlist, #below_threadlist {
	display: none;
}

.boxshadow {
	-o-box-shadow: none !important;
	-icab-box-shadow: none !important;
	-khtml-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

div#threadlist div.boxshadow .threadlisthead {
	font-size: 11px;
	font-weight: bold;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb2f1), color-stop(100%,#397bdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6bb2f1 0%,#397bdf 100%); /* Chrome10+,Safari5.1+ */
}

div.boxshadow table#threads thead.threadlisthead tr {
	min-height: 22px;
	height: 22px;
	border-top: 1px solid #4592D6;
	border-bottom: 1px solid #4592D6;
}

div.boxshadow table#threads thead.threadlisthead td {
	padding: 0 8px;
	box-sizing: border-box;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .3)
}

.sortarrow {
	display: none;
}

div#threadlist div.boxshadow {
	border: none;
}

div#threadlist div.boxshadow + hr {
	display: none;
}

table#threads tr.threadbit td.alt {
	background: #F3F7FC;
}

span.threadpagenav {
	display: none;
}

h3.threadtitle a:not(:first-child) {
	display: none;
}

table#threads tr.threadbit td {
	border: none !important;
}

tr.threadbit {
	border-bottom: 1px solid #ccc;
	min-height: 44px;
	height: 44px;
}

tr.threadbit:last-child { 
	border-bottom: none;
}

table#threads tr.threadbit td.threadinfo h3.threadtitle > a {
	font-size: 11px;
}

table#threads tr.threadbit td.threadinfo .author {
	color: transparent;
	margin: 0;
	padding: 0;
}

table#threads tr.threadbit td.threadinfo .author :not(a) {
	display: none;
}

td.threadreplies, td.threadviews, td.threadicon {
	display: none;
}

table#threads tbody a {
	padding: 1px 2px 2px 2px;
	border-radius: 3px;
}

table#threads tbody a:hover {
	background: #2F75BA !important;
	color: white !important;
}

table#threads tr.threadbit td.threadinfo h3.threadtitle > a:first-child {
	display: inline-block;
}

table#threads tr.threadbit td.threadinfo .newposts, table#threads tr.threadbit td.threadinfo .newposts:hover {
	display: inline-block;
	width: auto;
	padding: 1px;
	border-radius: 3px;
	margin: 3px 0;
	font-weight: bold;
}

table#threads tr.threadbit td.threadinfo .newposts:hover {
	background: #2F75BA;
	border: 1px solid #2F75BA;
}

table#threads tr.threadbit td.threadinfo .newposts img {
	display: none;
}

table#threads tr.threadbit td.threadinfo .newposts a {
	color: #275F97 !important;
	background: transparent !important;
	padding: 2px;
}

table#threads tr.threadbit td.threadinfo .newposts a:hover {
	background: transparent;
	color: white !important;
}

/*table#threads tr.threadbit td.threadinfo .newposts a::before, table#threads tr.threadbit td.threadinfo .newposts a::after {
	content: " -";
}*/

.threaddetails {
	display: none;
}

/* ############################################################################### 
 * Bottom of the forums
 * ###############################################################################
 */
div#bottom_box {
	display: none;
}

div.below_body {
	padding: 7px 0 2px 0;
	background: #397bdf;
	width: 100%;
	margin: 0;
	border-top: 1px solid #3474AC !important;
}

div.below_body * {
	color: white !important;
	font-size: 11px;
}

#footer_time {
	padding: 0;
}

#footer_copyright, #footer_morecopyright {
	display: none;
}

/* ############################################################################### 
 * Footer
 * ###############################################################################
 */
div#footer {
	margin-top: 0px;
	width: 100%;
	font-size: 11px;
	background: #397bdf;
}

div#footer #content_pad {
	width: 90%;
	padding-bottom: 7px;
	margin: 0 auto;
}

div#footer #fps {
	font-size: 11px;
	/* font */
}

div#content_pad > center {
	/* Hiding the footer stats, set display to block to make them show up */
	display: none;
	max-width: 90%;
	width: 90% !important;
	margin: 0 auto;
	margin-top: 10px;
}

div#content_pad > center > p:nth-child(1), div#content_pad > center > p:nth-child(2), div#content_pad > center > p:nth-child(3) {
	/* Hiding those really pesky p tags used for spacing - really, don't do that */
	display: none;
}