/* 2x - For iPhone retina */

html, body {
	width: 320px;
	min-width: 320px;
	max-width: 320px;
	overflow: hidden;
}

body {
	font-size: 11px;
}

a, a:hover {
	text-decoration: none !important;
}

/* Wrapper elements */
/* Remove the content padding and set width */
#content_pad {
	margin: 0px;
	width: 320px;
}

/* Header */
.above_body {
	margin: 0px;
	border: none;
	width: 320px;
	height: auto;
	background-repeat: repeat-x;
}

#header {
	width: 320px;
	height: auto;
	background-image: none;
	padding: 0;
	padding-bottom: 10px;
}

/* The header */
#logo {
	display: none;
}

#header #breadcrumb {
	margin: 0px;
	height: auto;
	padding: 5px 0 0 7px;
}

#breadcrumb #lastelement {
	font-weight: bold;
}

#navbarlinks {
	overflow: hidden;
	float: none;
	display: block;
	clear: both;
}

.navbarlink img {
	display: none;
}

.navbarlink {
	float: none;
	font-weight: bold;
	margin: 0;
	margin-right: 8px;
	display: inline-block;
}

.navbarlink:nth-child(1), .navbarlink:nth-child(2) {
	display: none;
}


/* HOMEPAGE */
/* forum home tables */
td.FrontPageForums {
	display: block;
}

table.forums {
	max-width: 320px;
	width: 320px;
	margin: 0px !important;
}

table.forums:first-child {
	border-top: 1px solid #888;
}

.forumbit_post .foruminfo .forumdata .forumtitle, .forumbit_nopost .forumbit_nopost .forumrow .forumtitle {
	font-size: 11px !important;
}

table.forums .forumdescription, table.forums .viewing {
	display: none;
}

table.forums .forumbit_post {
	border-left: none;
	border-right: none;
}

table.forums .forumbit_post:last-child {
	border-bottom: none;
}

table.forums .LastPostAvatar {
	display: none;
}

table.forums p.lastposttitle {
	text-align: right;
}


.forumhead {
	border-top: none;
	border-left: none;
	border-right: none;
}

/* Subforums */
.subforum a.new {
	margin: 0px;
	padding: 0px;
	border: none;

	background: transparent;
}

/* Bottom of the forums */
#footer {
	margin-top: 0px;
	width: 320px;
	font-size: 10px;
}

#footer #content_pad {
	width: 300px;
}

div#footer #fps {
	font-size: 13px;
}

div#content_pad > center {
	/* Hiding the footer stats, set display to block to make them show up */
	display: none;
	max-width: 300px;
	width: 300px !important;
	margin: 0 auto;
	margin-top: 10px;
}

div#content_pad > center > p:nth-child(1), div#content_pad > center > p:nth-child(2), div#content_pad > center > p:nth-child(3) {
	/* Hiding those really pesky p tags used for spacing - really, don't do that */
	display: none;
}

div.below_body {
	padding: 5px 0;
	background: #26F;
	width: 320px;
	margin: 0;
}

div.below_body * {
	color: white !important;
}

#footer_time {
	padding: 0;
}

#footer_copyright, #footer_morecopyright {
	display: none;
}